{{ '_odyssei-theme.scss' | asset_url | stylesheet_tag }}

{% assign page = pages.store-open-teaser %}

<div class="about-page">
    {% section 'about-template' %}

    <div class="odyssei-image-teaser">
        <img alt="Odyssei Clothing LLC" src="//cdn.shopify.com/s/files/1/0119/8302/8281/files/Odyssei_FAQ_Graphic-06.png?10353470353275573298" 
        style="display: inline-block; float: none; padding-left: 5%;" />
    </div>
</div>