.main-content{
  background: #fff;
}
.responsive {
    width: 100%;
    height: auto;
  	display: block;
    margin-left: auto;
    margin-right: auto;
  	padding-bottom: 100px;
}

#teaser-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.season-one-footer {
  	font-family: "Helvetica";
  	font-weight: 900;
  	font-size: 24pt;
}


.splash-fall-promo {
  font-size: 24px;
  font-weight: 900;
}

.subscribe-error-message {
 padding: 2%;
 font-size: 24px;
 font-weight: 900;
 font-family: "Helvetica";
}
.site-footer__newsletter .input-group {
  border: 2px solid #fff;
  
}

.site-footer__newsletter .input-group__field {
  margin-bottom: 0;
}

#Email {
 border: none;
 width: 100%;
 line-height: 10px;
}

#Subscribe {
 float: right;
 font-size: 16px;
 font-weight: 900;
 font-family: "Helvetica";
 letter-spacing: 0;
 line-height: 1.4;
}

.odyssei-subscribe-btn {
  border: 2px solid white;
  border-left-style:none;
}

.label-div {
  white-space: nowrap;
  float: left;
  text-align: center;
  width: 35%;
  padding-left: 5%;
  margin-right: 5%;
}

.subscribe-div {
 white-space: nowrap;
 text-align: center;
 float: left;
 width: 60%;
 padding-right: 5%;

}

.email-div {
  overflow: hidden;
  white-space: nowrap;
}


@media screen and (max-width: 1200px) {
    .label-div, .subscribe-div {
        width: 100%;
      	padding-left: 10%;
      	padding-right: 10%;
      	margin-right: 0%;
    }
}

@media screen and (max-width: 400px) {
    .label-div, .subscribe-div {
        width: 100%;
      	padding-left: 5%;
      	padding-right: 5%;
      	margin-right: 0%;
    }

	.splash-fall-promo {
  		font-size: 18px;
  		font-weight: 900;
	}
}



/* Subash Maharjan*/
/* Site Logo */
.site-header__logo {
  height: 100px;
  border-top: 10px solid #000;
  max-width: 195px;
  margin: 0;
}
.site-header__logo-image img {
  min-width: 120px;
  position: absolute;
  bottom: -20px;
}

.site-nav {
  position: absolute;
  bottom: -45px;
  right: 0;
  font-size: 24px;
}

.site-nav a {
  font-size: 22px;
  text-transform: uppercase;
}

.site-nav li {
  position: relative;
}


/* Date vertical logo on right */
#shopify-section-custom-content {
  position: absolute;
  top: 85px;
  right: 0;
}
#shopify-section-custom-content .custom__item {
  width: 144px;
}

/* S1 Logo bar */
.floating-season {
  position: relative;
}
.floating-season + div {
  position: relative;
  height: 440px;
}
.floating-season + div img {
  position: absolute;
  right: 0;
  bottom: -70px;
  margin: 0!important;
  padding: 0!important;
}
#shopify-section-logo-bar .logo-bar{
  position: absolute;
  top: -120px;
  z-index: 2;
}


/* Clothing items section */
#shopify-section-collection {
  background: #fff;
  padding: 100px 0;
}

dl.price, 
.grid-view-item__title {
    text-align: left;
    display: block;
    color:  rgb(228, 224, 200);
    font-weight: bold;
}

#shopify-section-collection dl.price, 
#shopify-section-collection .grid-view-item__title {
  text-align: center!important;
}
.grid-view-item__title {
  font-size: 24px;
  text-transform: uppercase;
}
dl.price {
  font-size: 22px;
}
dl.price dd {
  margin: 0;
}
.price-item {
  color: #e4e0c8;
}

.product-description {
  position: relative;
  margin: 30px 0;
}

.product-form__item {
  flex: 1 1 100px;
  padding: 0;
  max-width: 140px;
}

.single-option-selector {
  text-transform: uppercase;
  color: #111;
}

.product-form__item .single-option-selector {
  border-right: 0;
}

.product-form__item--submit .btn.product-form__cart-submit {
  border: 1px solid #111;
}

.grid-view-item__title:before {
  content: "|";
  position: absolute;
  top: -30px;
  left: 49%;
}

dl.price:after {
  content: "|";
  position: absolute;
  bottom: -25px;
  left: 49%;
}


/* Homepage Specific Styles */
.template-index .site-nav li:first-child a:before,
.template-index .site-nav li:first-child a:after,
.template-product .site-nav li:first-child a:before,
.template-product .site-nav li:first-child a:after,
.template-collection .site-nav li:first-child a:before,
.template-collection .site-nav li:first-child a:after,
.site-nav--active a:before, .site-nav--active a:after  {
  content: "|";
  position: absolute;
  left: 46%;
  height: 18px;
  font-weight: 900;
  overflow: hidden;
}
.template-index .site-nav li:first-child a:before,
.template-product .site-nav li:first-child a:before,
.template-collection .site-nav li:first-child a:before,
.site-nav--active a:before  {
  top: -15px;
}
.template-index .site-nav li:first-child a:after,
.template-product .site-nav li:first-child a:after,
.template-collection .site-nav li:first-child a:after,
.site-nav--active a:after {
    bottom: -5px;
}

.template-index .main-content {
  background: transparent;
}
.template-index .main-content,
.template-index .index-section {
  padding-top: 0;
}

.template-index .hero__inner {
  vertical-align: bottom;
}
.template-index .hero__inner .page-width {
  position: relative;
}
.template-index .hero__inner .mega-title {
  border-top: 5px solid #000;
  color: #000;
  font-size: 3.6rem;
  padding: 15px 0;
}
.template-index .hero__inner .mega-title,
.template-index .hero__inner .mega-subtitle {
  position: absolute;
  bottom: -225px;
  left: 196px;
}
.template-index .hero__inner .mega-subtitle {
  bottom: -340px;
}
.template-index .hero__inner .mega-subtitle p{
  color: #000;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 2.6rem;
  text-align: left;
}

/* FAQ Page Specific Styles*/
.faq-page, .about-page {
  margin-top: -55px;
}


.site-footer__newsletter .h4 { display: none; }
.site-footer__newsletter , .site-footer__copyright { text-transform: uppercase; }

@media (max-width: 750px) {
  .site-header__logo {
    margin-left: 22px;
  }
  #shopify-section-custom-content {
    display: none;
  }
  #shopify-section-logo-bar .logo-bar {
    top: -100px;
  }
  .template-index .hero__inner .mega-title{
    bottom: -190px;
    font-size: 1.8em;
    left: 162px;
  }
  .template-index .hero__inner .mega-subtitle {
    bottom: -260px;
    left: 162px;
  }
  .template-index .hero__inner .mega-subtitle p{
    font-size: 1.2em;
  }

  .floating-season + div {
    height: 340px;
  }

  .floating-season + div img {
    bottom: 0;
  }

  .site-footer__newsletter {
    margin-left: 10px;
  }
}





/* CART */

#shopify-section-cart-template .section-header {
  color: #ccc;
  border-bottom: 5px solid #ccc;
  margin-top: 100px;
}

.cart table {
  border-bottom: 5px solid #ccc;
}
.cart__remove {
  font-size: 1.5rem;
  color: #ccc;
}

.cart__remove-text {
  margin-top: 30px;
  display: block;
  font-weight: 300;
}

.cart__remove-text,
.cart__remove-text:hover,
.cart__remove-text:focus,
.cart__remove-text:visited {
  color: #ccc;
}

.cart__remove-wrapper {
  width: 50px;
}
.cart__image-wrapper {
  width: 200px;
}

.cart__image-wrapper .cart__image {
  max-height: 200px;
}



.cart__qty-input {
  border: 1px solid rgba(255, 255, 255, 0.85);
  background-color: #fff;
  color: #000;
}

.cart__qty-input:focus {
  border: none;
}

.cart__checkout-button {
  border: 1px solid #111;
  background: #fff;
  color: #111;
}

@media (max-width: 750px){
  .site-footer__linklist-item {
    display: block;
  } 
  .feature-row__image-wrapper {
    display: none;
  }
}

.feature-row {
  align-items: flex-end;
}

.feature-row__item-content {
  font-size: 70%;
}


@media (min-width: 751px){
  .cart__qty-label {
    padding-top: 8px;
  }

  #FeatureRowImageWrapper-faq-template, 
  #FeatureRowImage-faq-template,
  #FeatureRowImageWrapper-about-template, 
  #FeatureRowImage-about-template  {
    max-width: 100%!important;
    max-height: 100%!important;
  }

  #FeatureRowImage-faq-template,
  #FeatureRowImage-about-template {
    position: relative;
    top: 0;
    margin-top: -26px;
  }

  #FeatureRowImageWrapper-faq-template > div,
  #FeatureRowImageWrapper-about-template > div {
    padding: 0!important;
  }
}

@media (min-width: 991px){
  .feature-row__item-content {
    width: 50%;
  }
}